<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test Fullstack </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/style.css">
</head>
<body>
<section id="content">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-default menu-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header col-sm-3 text-center">
          <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Google Drive Test</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li v-show="selected && selected.length == 1"><a @click="renameFolder"><span>Rename</span></a></li>
            <li v-show="selected && selected.length"><a @click="removeFolder"><span>Delete</span></a></li>
            <li v-show="currentFolderActive"><a @click="addFolder"><span>Add Folder</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
    <div class="row">
      <aside class="col-sm-3 sidebar">
        <ul>
          <item
                  class="item"
                  v-for="model in folders"
                  :model="model"
          >
          </item>
        </ul>
      </aside>

      <div class="col-sm-9 content">
        <div class="row" v-if="currentFolderActive && currentFolderActive.children">
          <inner :list_item="currentFolderActive.children"></inner>
          <div class=" hidden col-sm-3 item-folder"
               v-for="item in currentFolderActive.children">
                  <span  v-text="item.name"
                         @click="selectFolder($event)"
                  ></span>
            <i  @click="removeFolder(item)">X</i>
          </div>
        </div>



      </div>
    </div>
  </div>


</section>
<script src="assets/build/build.js"></script>
</body>
</html>
