<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test Fullstack </title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>


  <script type="text/x-template" id="folder-template">
    <li>
      <div
              :class="{bold: hasChildren,active: isActive}"
              @click="toggle"
              @dblclick="renameFolder"
      >
        {{model.name}}
        <span v-if="hasChildren">[{{open ? '-' : '+'}}]</span>
      </div>
      <ul v-show="open" v-if="hasChildren">
        <item
                class="item"
                v-for="model in model.children"
                :model="model">
        >
        </item>

      </ul>
    </li>
  </script>

  <!-- the demo root element -->

  <section id="content">
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-default menu-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->

          <div class="navbar-header col-sm-3 text-center">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Google Drive Test</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li v-show="currentFolderActive"><a @click="addFolder"><span>Add Folder</span></a></li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
      <div class="row">
        <aside class="col-sm-3 sidebar">
          <ul id="demo">
            <item
                class="item"
                v-for="model in folders"
                :model="model"
            >
            </item>
          </ul>
        </aside>

        <div class="col-sm-9 content">
            <div class="row" v-if="currentFolderActive && currentFolderActive.children">
              <div class="col-sm-3 item-folder"
                   v-for="item in currentFolderActive.children">
                <span  v-text="item.name"></span>
                <i  @click="removeFolder(1)">X</i>
              </div>
            </div>
        </div>
      </div>
    </div>


  </section>



    <script src="dist/build.js"></script>
  </body>
</html>
